<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="RmReverseProxy" verb="*" path="*" type="ReverseProxyTest.RmReverseProxy" />
    </handlers>
    
  </system.webServer>
</configuration>
