@model MVCExtending.Areas.BasicAuthenticationFilter.Models.User
@{ ViewBag.Title = "Authentication Filter Sample"; }
<p>Hello, @Model.Name.</p>
<p>(Note: With HTTP Basic authentication, your browser will likely remember your username and password until you close the window.)</p>