
@font-face {
  font-family: 'EL-Mohanad';
  src: ('AL-Mohanad.eot?#iefix') format('embedded-opentype'),  ur url('AL-Mohanad.woff')rmat('woff'), url('AL-Mohanad.ttf')  format('truetype'), url('AL-Mohanad.svg#AL-Mohanad') format('svg');
 ;
  font-weight: normal;
  font-style: normal;
}
