<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Main.ConnectionString1" value="data source=RMDGPRD;user id=eweb_user;password=stage;persist security info=false;"/>
    <add key="Main.ConnectionString" value="data source=rmdev;user id=eweb_user;password=test;persist security info=false;"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="fileLogger"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="C:\temp\llblLog.txt" />
        <remove name="Default" />
      </listeners>
    </trace>
    <switches>
      <add name="SqlServerDQE" value="4" />
      <add name="AccessDQE" value="4" />
      <add name="OracleDQE" value="4" />
      <add name="FirebirdDQE" value="4" />
      <add name="MySqlDQE" value="4" />
      <add name="DB2DQE" value="4" />
      <add name="PostgeSqlDQE" value="4" />
      <add name="SybaseAsaDQE" value="4" />
      <add name="SybaseAseDQE" value="4" />
      <add name="ORMGeneral" value="4" />
      <add name="ORMStateManagement" value="4" />
      <add name="ORMPersistenceExecution" value="4" />
      <add name="LinqExpressionHandler" value="4" />
    </switches>
  </system.diagnostics>
</configuration>