@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

<li>@Html.ActionLink("Admin Page", "AdminPage", "Home")</li>
<li>@Html.ActionLink("User1 Page", "User1Page", "Home")</li>
<li>@Html.ActionLink("User2 Page", "User2Page", "Home")</li>