.modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color:rgba(0, 0, 0, 1);
        z-index: 99;
        opacity: 0.8;
        
        /*filter: alpha(opacity=80);*/
        min-height: 100%;
        width: 100%;
    }



.modal-content {
    width: 800px;
    height: 200px;
    text-align: left;
    background-color: white;
    opacity: 1 !important;
    z-index: 99;
}

.container-table {
    display: table;
    height: 100%;
    opacity: 1;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}